.c-footer {
    width: 100%;
    flex: 1 1 80px;
    display: flex;
    align-items: flex-end;
    padding-top: 28px;
    padding-bottom: $global-nav-bar-height;

    @media (min-width: 768px) {
    padding-bottom: 0;
  }
}