.c-questionnaire {
    &__radio {
        width: 31%;
        @media screen and (max-width: $sm) {
            width: 48%;
        }

         &--big {
                width: 48%;
         }
    }

    &__btn {
        width: 31%;

        @media screen and (max-width: $sm) {
            width: 100%;
            margin-bottom: $global-padding-small;
        }
    }

    &__radio-wrapper {
        margin-top: auto;
        margin-bottom: $global-padding-small;

        &--is-active {
            .c-questionnaire__radio {
                opacity: 0.5;
            }
            .c-form__group--checked {
                opacity: 1;
            }
        } 
    }

    &__number {
         width: 31%;
         margin-right: $global-padding-large;
         display: flex;
         flex-direction: column;

         @media screen and (max-width: $sm) {
             width: 100%;
             margin-bottom: $global-padding-small;
             margin-right: 0;
         }
         &.has-error input {
          border-color: $color-error; // oppure: red;
         }

        .c-input-error {
          color: $color-error; // oppure: red;
          margin-top: $global-padding-small;
        }
    }

    &__c-input-number {
        width:100%
        }

    &__drink-card-wrapper {
        overflow-x: scroll;
        padding-bottom: $global-padding-medium;
        
        .c-drink-card:not(:last-child) {
            margin-right: $global-padding-large;
        }
    }
}